---
{% if nginx_enabled|bool %}
#--------------------------------------------------------------#
# Nginx (Exporter @ 9113)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: nginx-{{ infra_seq }}, cls: nginx }
  targets: [ {{ inventory_hostname }}:9113 ]
{% endif %}

{% if prometheus_enabled|bool %}
#--------------------------------------------------------------#
# Prometheus ({{ prometheus_port|default(9058) }})
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: prometheus-{{ infra_seq }}, cls: prometheus }
  targets: [ {{ inventory_hostname }}:{{ prometheus_port|default(9058) }} ]
{% endif %}

{% if pushgateway_enabled|bool %}
#--------------------------------------------------------------#
# PushGateway (9091)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: pushgateway-{{ infra_seq }}, cls: pushgateway }
  targets: [ {{ inventory_hostname }}:9091 ]
{% endif %}

{% if alertmanager_enabled|bool %}
#--------------------------------------------------------------#
# AlertManager ({{ alertmanager_port|default(9059) }})
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: alertmanager-{{ infra_seq }}, cls: alertmanager }
  targets: [ {{ inventory_hostname }}:{{ alertmanager_port|default(9059) }} ]
{% endif %}

{% if blackbox_enabled|bool %}
#--------------------------------------------------------------#
# BlackboxExporter (9115)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: blackbox-{{ infra_seq }}, cls: blackbox }
  targets: [ {{ inventory_hostname }}:9115 ]
{% endif %}

{% if grafana_enabled|bool %}
#--------------------------------------------------------------#
# Grafana (3000)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: grafana-{{ infra_seq }}, cls: grafana }
  targets: [ {{ inventory_hostname }}:3000 ]
{% endif %}

{% if vlogs_enabled|bool %}
#--------------------------------------------------------------#
# VictoriaLogs (9428)
#--------------------------------------------------------------#
- labels: { ip: {{ inventory_hostname }}, ins: vlogs-{{ infra_seq }}, cls: vlogs }
  targets: [ {{ inventory_hostname }}:9428 ]
{% endif %}
...