{% if kafka_security == 'scram' %}
security.protocol=SASL_SSL
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ kafka_admin_principal_internal }}" password="{{ kafka_admin_password_internal }}";
ssl.truststore.type=PKCS12
ssl.truststore.location=/etc/kafka/pki/truststore.p12
ssl.truststore.password={{ kafka_truststore_password_internal }}
ssl.endpoint.identification.algorithm=https
{% else %}
security.protocol=PLAINTEXT
{% endif %}
