{% if kafka_security == 'scram' %}
security.protocol=SSL
ssl.keystore.type=PKCS12
ssl.keystore.location=/etc/kafka/pki/kafka.p12
ssl.keystore.password={{ kafka_keystore_password_internal }}
ssl.key.password={{ kafka_keystore_password_internal }}
ssl.truststore.type=PKCS12
ssl.truststore.location=/etc/kafka/pki/truststore.p12
ssl.truststore.password={{ kafka_truststore_password_internal }}
ssl.endpoint.identification.algorithm=https
{% else %}
security.protocol=PLAINTEXT
{% endif %}
