KAFKA_EXPORTER_OPTS="--kafka.server=127.0.0.1:{{ kafka_port }} --kafka.version={{ kafka_exporter_kafka_version }} --web.listen-address=:{{ kafka_exporter_port }}{% for option in kafka_exporter_options %} {{ option }}{% endfor %}"
