---
#--------------------------------------------------------------#
# Cleanup ETCD cluster info                               [etcd]
#--------------------------------------------------------------#
# when pitr from another cluster, we'll need to remove the
# /pg/<cluster>/initialize since it has the cluster id
- name: remove postgres metadata from etcd
  tags: pg_meta
  ignore_errors: true
  when: pg_role == 'primary' and pg_cluster != '' and groups['etcd'] is defined and groups['etcd'] | length > 0 and pg_pitr.cluster is defined and pg_pitr.cluster != pg_cluster
  delegate_to: '{{ groups["etcd"][0] }}'
  become: yes
  shell: |
    {% if pg_mode == 'citus' %}
    META_DIR="{{ pg_namespace|default('/pg') }}/{{ pg_shard }}/{{ pg_group }}"
    {% else %}
    META_DIR="{{ pg_namespace|default('/pg') }}/{{ pg_cluster }}"
    {% endif %}
    export ETCDCTL_ENDPOINTS="{% for ip in groups['etcd']|sort %}{% if not loop.first %},{% endif %}https://{{ ip }}:{{ etcd_port }}{% endfor %}"
    export ETCDCTL_CACERT=/etc/etcd/ca.crt
    export ETCDCTL_CERT=/etc/etcd/server.crt
    export ETCDCTL_KEY=/etc/etcd/server.key
    etcdctl del "${META_DIR}" --prefix=true
  args: { executable: /bin/bash }
...