---
#-----------------------------------------------------------------
# INFRA_IDENTITY
#-----------------------------------------------------------------
#infra_seq: 1                     # infra node identity, explicitly required
infra_portal:                     # infra services exposed via portal
  home         : { domain: h.pigsty }
  alertmanager : { domain: a.pigsty  ,endpoint: "${admin_ip}:9059"  }
  victoria     : { domain: p.pigsty  ,endpoint: "${admin_ip}:8427"  }
  grafana      : { domain: g.pigsty  ,endpoint: "${admin_ip}:3000" ,websocket: true }
  #vmetrics     : { domain: vm.pigsty ,endpoint: "${admin_ip}:8428"  }
  #vlogs        : { domain: vl.pigsty ,endpoint: "${admin_ip}:9428" ,stream: true }
  #vtraces      : { domain: vt.pigsty ,endpoint: "${admin_ip}:10428" }
  #vmalert      : { domain: va.pigsty ,endpoint: "${admin_ip}:8880"  }

#-----------------------------------------------------------------
# INFRA_PACKAGE
#-----------------------------------------------------------------
#infra_packages: []               # packages to be installed on infra nodes
infra_packages_pip: ''            # pip installed packages for infra nodes

#-----------------------------------------------------------------
# NGINX
#-----------------------------------------------------------------
nginx_enabled: true               # enable nginx on this infra node?
nginx_exporter_enabled: true      # enable nginx_exporter on this infra node?
nginx_sslmode: enable             # nginx ssl mode? disable,enable,enforce
nginx_cert_validity: 397d         # nginx self-signed cert validity, 397d by default
nginx_home: /www                  # nginx content dir, `/www` by default
nginx_port: 80                    # nginx listen port, 80 by default
nginx_ssl_port: 443               # nginx ssl listen port, 443 by default
nginx_navbar:                     # nginx index page navigation links
  - { name: Metrics WebUI      ,url: '/vmetrics/vmui/'             ,desc: 'victoria-metrics metrics query ui'  }
  - { name: Logging WebUI      ,url: '/vlogs/select/vmui/'         ,desc: 'victoria-logs logs query ui'        }
  - { name: Traces WebUI       ,url: '/vtraces/select/vmui/'       ,desc: 'victoria-traces trace query ui'     }
  - { name: Service Discovery  ,url: '/vmetrics/service-discovery' ,desc: 'victoria-metrics service discovery' }
  - { name: Monitor Targets    ,url: '/vmetrics/targets'           ,desc: 'victoria-metrics service discovery' }
  - { name: Alerting Groups    ,url: '/vmalert/vmalert/groups'     ,desc: 'victoria alerting groups'           }
  - { name: Victoria Metrics   ,url: '/vmetrics/'                  ,desc: 'victoria-metrics Home'              }
  - { name: Victoria Logging   ,url: '/vlogs/'                     ,desc: 'victoria-logs Home'                 }
  - { name: Victoria Traces    ,url: '/vtraces/'                   ,desc: 'victoria-traces Home'               }
  - { name: Pigsty CA Cert     ,url: '/ca.crt'                     ,desc: 'pigsty self-signed ca.crt'          }
  - { name: Software Repo      ,url: '/pigsty'                     ,desc: 'local software repository'          }
  - { name: Explain Visualizer ,url: '/pev.html'                   ,desc: 'postgres explain visualizer'        }

certbot_sign: false               # sign nginx cert with certbot during setup?
certbot_email: your@email.com     # certbot email address, used for free ssl
certbot_options: ''               # certbot extra options

#-----------------------------------------------------------------
# DNS
#-----------------------------------------------------------------
dns_enabled: true                 # setup dnsmasq on this infra node?
dns_port: 53                      # dns server listen port, 53 by default
dns_records:                      # dynamic dns records resolved by dnsmasq
  - "${admin_ip} h.pigsty a.pigsty p.pigsty g.pigsty vm.pigsty vl.pigsty vt.pigsty va.pigsty"
  - "${admin_ip} api.pigsty adm.pigsty cli.pigsty ddl.pigsty lab.pigsty git.pigsty m.pigsty wiki.pigsty"

#-----------------------------------------------------------------
# VICTORIA
#-----------------------------------------------------------------
victoria_clean: false             # whether clean existing victoria data during init?
victoria_data: /data/vm           # victoria top level data dir, `/data/vm` by default
victoria_sd_dir: /data/vm/targets # victoria file service discovery directory
victoria_scrape_interval: 10s     # victoria global scrape interval, 10s by default
victoria_scrape_timeout: 8s       # victoria global scrape timeout, 8s by default
vmetrics_enabled: true            # enable victoria-metrics on this infra node?
vmetrics_clean: false             # whether clean existing victoria metrics data during init?
vmetrics_port: 8428               # victoria-metrics listen port, 8428 by default
vmetrics_options: >-
  -retentionPeriod=15d
  -promscrape.fileSDCheckInterval=5s
vlogs_enabled: true               # enable victoria-logs on this infra node?
vlogs_clean: false                # clean victoria-logs data during init?
vlogs_port: 9428                  # victoria-logs listen port, 9428 by default
vlogs_options: >-
  -retentionPeriod=15d
  -retention.maxDiskSpaceUsageBytes=50GiB
  -insert.maxLineSizeBytes=1MB
  -search.maxQueryDuration=120s
vtraces_enabled: true             # enable victoria-traces on this infra node?
vtraces_port: 10428               # victoria-traces listen port, 10428 by default
vtraces_options: >-
  -retentionPeriod=15d
  -retention.maxDiskSpaceUsageBytes=50GiB
vmalert_enabled: true             # enable vmalert on this infra node?
vmalert_port: 8880                # vmalert listen port, 8880 by default
vmalert_options: ''              # vmalert extra server options

#-----------------------------------------------------------------
# PROMETHEUS
#-----------------------------------------------------------------
blackbox_enabled: true            # setup blackbox_exporter on this infra node?
blackbox_options: ''              # blackbox_exporter extra server options
alertmanager_enabled: true        # setup alertmanager on this infra node?
alertmanager_data: /data/alert    # alertmanager data dir, `/data/alert` by default
alertmanager_port: 9059           # alertmanager listen port, 9059 by default
alertmanager_options: ''          # alertmanager extra server options
exporter_metrics_path: /metrics   # exporter metric path, `/metrics` by default

#-----------------------------------------------------------------
# GRAFANA
#-----------------------------------------------------------------
grafana_enabled: true             # enable grafana on this infra node?
grafana_clean: true               # clean grafana data during init?
grafana_admin_username: admin     # grafana admin username, `admin` by default
grafana_admin_password: pigsty    # grafana admin password, `pigsty` by default

#-----------------------------------------------------------------
# EXPORTER & PORT (Reference)
#-----------------------------------------------------------------
node_exporter_port: 9100          # node exporter listen port, 9100 by default
haproxy_exporter_port: 9101       # haproxy admin/exporter port, 9101 by default
vip_exporter_port: 9650           # keepalived exporter listen port, 9650 by default
vector_port: 9598                 # vector metrics port, 9598 by default
pg_exporter_port: 9630            # pg_exporter listen port, 9630 by default
pgbouncer_exporter_port: 9631     # pgbouncer_exporter listen port, 9631 by default
pgbackrest_exporter_port: 9854    # pgbackrest_exporter listen port, 9854 by default
#-----------------------------------------------------------------
# INTERNAL
#-----------------------------------------------------------------
nginx_cert_exists: false
#-----------------------------------------------------------------
# META (Reference)
#-----------------------------------------------------------------
version: v4.0.0                   # pigsty version string
admin_ip: 10.10.10.10             # admin node ip address, overwritten by configure
language: en                      # default language, en by default, could be zh
#-----------------------------------------------------------------
# CA (Reference)
#-----------------------------------------------------------------
cert_validity: 7300d              # cert validity, 20 years by default
#-----------------------------------------------------------------
# REPO (Reference)
#-----------------------------------------------------------------
repo_name: pigsty                 # repo name, pigsty by default
node_admin_username: dba          # name of node admin user, `dba` by default
#-----------------------------------------------------------------
# ETCD (Reference)
#-----------------------------------------------------------------
etcd_port: 2379                   # etcd client port, 2379 by default
#-----------------------------------------------------------------
# DOCKER (Reference)
#-----------------------------------------------------------------
docker_exporter_port: 9323        # docker metrics exporter port, 9323 by default
#-----------------------------------------------------------------
# PG_INSTALL (Reference)
#-----------------------------------------------------------------
pg_version: 18                    # postgres major version to be installed, 18 by default
#-----------------------------------------------------------------
# PG_BOOTSTRAP (Reference)
#-----------------------------------------------------------------
pg_namespace: /pg                 # top level key namespace in etcd, used by patroni & vip
patroni_port: 8008                # patroni listen port, 8008 by default
patroni_ssl_enabled: false        # secure patroni RestAPI communications with SSL?
#-----------------------------------------------------------------
# PG_BUSINESS (Reference)
#-----------------------------------------------------------------
pg_replication_username: replicator         # default replication username
pg_replication_password: DBUser.Replicator  # default replication password
pg_admin_username: dbuser_dba               # default admin username
pg_admin_password: DBUser.DBA               # default admin password
pg_monitor_username: dbuser_monitor         # default monitor username
pg_monitor_password: DBUser.Monitor         # default monitor password
patroni_username: postgres                  # patroni rest api username
patroni_password: Patroni.API               # patroni rest api password
#-----------------------------------------------------------------
# Kafka Exporter (Reference)
#-----------------------------------------------------------------
kafka_exporter_port: 9308         # kafka metrics exporter port, 9308 by default
mongo_exporter_port: 9216         # mongo metrics exporter port, 9308 by default
mysql_exporter_port: 9104         # mongo metrics exporter port, 9308 by default
redis_exporter_port: 9121         # mongo metrics exporter port, 9308 by default
...