---
#--------------------------------------------------------------#
# Create jupyter directories                       [jupyter_dir]
#--------------------------------------------------------------#
- name: create jupyter directories
  tags: jupyter_dir
  file: path={{ item }} state=directory owner={{ node_user }} group={{ node_user }} mode='0755'
  loop:
    - "{{ jupyter_home }}"
    - "{{ jupyter_data }}"


#--------------------------------------------------------------#
# Config jupyter                                [jupyter_config]
#--------------------------------------------------------------#
- name: render jupyter config
  tags: jupyter_config
  template: src={{ item.src }} dest={{ item.dest }} owner={{ item.owner }} group={{ item.group }} mode={{ item.mode }}
  loop:
    - { src: jupyter_config.py , dest: "{{ jupyter_data }}/jupyter_config.py" , owner: "{{ node_user }}" , group: "{{ node_user }}" , mode: '0600' }
    - { src: jupyter.svc , dest: /etc/systemd/system/jupyter.service , owner: root , group: root , mode: '0644' }
    - { src: jupyter.env , dest: /etc/default/jupyter , owner: root , group: root , mode: '0644' }


#--------------------------------------------------------------#
# Launch jupyter                                [jupyter_launch]
#--------------------------------------------------------------#
- name: launch jupyter
  tags: jupyter_launch
  block:
    - name: start jupyter service
      systemd: name=jupyter state=started enabled=yes daemon_reload=yes
    - name: wait for jupyter
      wait_for: host=127.0.0.1 port={{ jupyter_port }} state=started timeout=30
...
