---
#--------------------------------------------------------------#
# Create DNS Dir                                   [dns_install]
#--------------------------------------------------------------#
#- name: make sure dnsmasq installed
#  tags: dns_install
#  package: name=grafana state=latest


#--------------------------------------------------------------#
# Create DNS Dir                                       [dns_dir]
#--------------------------------------------------------------#
- name: create dns records dir
  tags: dns_dir
  file: path=/etc/hosts.d/ state=directory mode=0755 owner=root group=dnsmasq


#--------------------------------------------------------------#
# Config DNS                                        [dns_config]
#--------------------------------------------------------------#
- name: copy dnsmasq systemd service
  tags: dns_config
  template: src=dns/{{ item.src }} dest={{ item.dest }}
  with_items:
    - { src: dnsmasq.svc  ,dest: "{{ systemd_dir }}/dnsmasq.service" }
    - { src: dnsmasq.conf ,dest: "/etc/dnsmasq.conf"                 }


#--------------------------------------------------------------#
# Write DNS Records                                 [dns_record]
#--------------------------------------------------------------#
- name: render default dns records
  tags: dns_record
  copy:
    dest: /etc/hosts.d/default
    owner: root
    group: root
    mode: 0644
    content: |
      {% for rec in dns_records|default([]) %}
      {{ rec|replace('${admin_ip}', admin_ip) }}
      {% endfor %} 


#--------------------------------------------------------------#
# Write DNS Records                                 [dns_launch]
#--------------------------------------------------------------#
- name: launch dnsmasq systemd service
  tags: dns_launch
  when: dns_enabled|bool
  ignore_errors: yes
  block:
    - name: launch dnsmasq systemd service
      systemd: name=dnsmasq state=restarted enabled=yes daemon_reload=yes
    - name: wait for dnsmasq service online
      wait_for: host=127.0.0.1 port={{ dns_port }} state=started

...