---
#--------------------------------------------------------------#
# Create DNS Dir                                       [dns_dir]
#--------------------------------------------------------------#
# dnsmasq runs as dnsmasq:dnsmasq, owns this directory to read it
- name: create dns records dir
  tags: dns_dir
  file: path={{ infra_data }}/hosts state=directory mode=0755 owner=dnsmasq group=dnsmasq


#--------------------------------------------------------------#
# Config DNS                                        [dns_config]
#--------------------------------------------------------------#
- name: copy dnsmasq systemd service
  tags: dns_config
  template: src=dns/{{ item.src }} dest={{ item.dest }} owner=root group=root mode=0644
  with_items:
    - { src: dnsmasq.svc  ,dest: "{{ systemd_dir }}/dnsmasq.service" }
    - { src: dnsmasq.conf ,dest: "/etc/dnsmasq.conf"                 }


#--------------------------------------------------------------#
# Write DNS Records                                 [dns_record]
#--------------------------------------------------------------#
- name: render default dns records
  tags: dns_record
  copy:
    dest: /infra/hosts/default
    owner: root
    group: root
    mode: 0644
    content: |
      {% for rec in dns_records|default([]) %}
      {{ rec|replace('${admin_ip}', admin_ip) }}
      {% endfor %} 

#--------------------------------------------------------------#
# Setup SELinux for Dnsmasq                        [dns_selinux]
#--------------------------------------------------------------#
# dnsmasq needs to read hostsdir, set proper SELinux context
- name: setup selinux for dnsmasq
  tags: [ dns_selinux ]
  ignore_errors: true
  shell: |
    # set context on the real path (not symlink)
    semanage fcontext -m -t dnsmasq_etc_t "{{ infra_data }}/hosts(/.*)?" 2>/dev/null || semanage fcontext -a -t dnsmasq_etc_t "{{ infra_data }}/hosts(/.*)?"
    semanage permissive -a dnsmasq_t
    restorecon -Rv {{ infra_data }}/hosts
  args: { executable: /bin/bash }


#--------------------------------------------------------------#
# Write DNS Records                                 [dns_launch]
#--------------------------------------------------------------#
- name: launch dnsmasq systemd service
  tags: dns_launch
  when: dns_enabled|bool
  ignore_errors: yes
  block:
    - name: launch dnsmasq systemd service
      systemd: name=dnsmasq state=restarted enabled=yes daemon_reload=yes
    - name: wait for dnsmasq service online
      wait_for: host=127.0.0.1 port={{ dns_port }} state=started

...