---
#--------------------------------------------------------------#
# Register infra metrics           [add_metrics][infra_register]
#--------------------------------------------------------------#
- name: render infra targets to victoria
  tags: [ infra_register, register, add_metrics ]
  ignore_errors: true
  delegate_to: '{{ item }}'
  loop: '{{ groups["infra"]|default([]) }}'
  template: src=prometheus/infra.yml.j2 dest=/infra/targets/infra/infra-{{ infra_seq }}.yml owner=victoria group=infra mode=0640

#--------------------------------------------------------------#
# Register infra logs to vector       [add_logs][infra_register]
#--------------------------------------------------------------#
- name: register infra logs to vector
  tags: [ infra_register, register, add_logs ]
  when: vector_enabled|default(true)|bool
  ignore_errors: true
  block:
    - name: render infra vector logging config
      template: src=vector/nginx.yaml dest=/etc/vector/nginx.yaml mode=0600
    - name: reload vector to consume infra log
      systemd: name=vector state=reloaded enabled=yes daemon_reload=yes

...