---
#--------------------------------------------------------------#
# Register infra service to victoria            [infra_register]
#--------------------------------------------------------------#
- name: render infra targets for prometheus
  tags: [ infra_register, register_prometheus ]
  ignore_errors: true
  delegate_to: '{{ item }}'
  loop: '{{ groups["infra"]|default([]) }}'
  template: src=infra.yml.j2 dest={{ victoria_sd_dir }}/infra/infra-{{ infra_seq }}.yml owner=victoria group=infra mode=0644

...