---
#--------------------------------------------------------------#
# Register infra service to victoria            [infra_register]
#--------------------------------------------------------------#
- name: render infra targets for prometheus
  tags: [ infra_register, register_prometheus ]
  ignore_errors: true
  delegate_to: '{{ item }}'
  loop: '{{ groups["infra"]|default([]) }}'
  template: src=infra.yml.j2 dest={{ victoria_sd_dir }}/infra/infra-{{ infra_seq }}.yml owner=victoria group=infra mode=0644

#--------------------------------------------------------------#
# Register infra logs to vector                [register_vector]
#--------------------------------------------------------------#
- name: register infra logs to vector
  tags: [ nginx, infra_register, register_vector ]
  when: vector_enabled|default(true)|bool
  ignore_errors: true
  block:
    - name: render infra vector logging config
      template: src=vector/nginx.yaml dest=/etc/vector/nginx.yaml mode=0600
    - name: reload vector to consume infra log
      systemd: name=vector state=reloaded enabled=yes daemon_reload=yes

...