---
#--------------------------------------------------------------#
# Infra Users & Groups                              [infra_user]
#--------------------------------------------------------------#
# create infra group for shared access
- name: create infra os user group
  tags: infra_user
  group: name={{ item }} state=present
  with_items: [ infra, victoria, prometheus, grafana, dnsmasq ]

# create infra users with same-name primary group, added to infra group
- name: create infra users
  tags: infra_user
  user: name={{ item }} group={{ item }} groups=infra
  with_items: [ victoria, prometheus, grafana, dnsmasq ]

# add admin user to infra group
- name: add admin user to infra group
  tags: infra_user
  ignore_errors: true
  user: name={{ item }} append=true groups=infra
  with_items:
    - "{{ node_admin_username | default('dba') }}"
    - "{% if node_user != 'root' %}{{ node_user }}{% else %}{{ node_admin_username }}{% endif %}"

...