---
#--------------------------------------------------------------#
# Register Postgres Datasource to Grafana       [pg_db_register]
#--------------------------------------------------------------#
- name: register pg database as grafana datasource
  tags: [ pg_register, register_grafana ]
  when: database.register_datasource is not defined or database.register_datasource|bool
  ignore_errors: true
  delegate_to: "{{ admin_ip }}"
  block:

    #--------------------------------------------------------------#
    # render datasource definition to:
    # /etc/pigsty/datasources/{{ pg_instance }}.{{ dbname }}.json
    #--------------------------------------------------------------#
    - name: render grafana datasource for {{ database.name }}
      copy:
        dest: "/etc/pigsty/datasources/{{ ds_name }}.json"
        content: |
          {
            "type": "postgres",
            "access": "proxy",
            "name": "{{ ds_name }}",
            "url": "{{ db_host }}:{{ db_port }}",
            "user": "{{ db_username }}",
            "database": "{{ dbname }}",
            "typeLogoUrl": "",
            "basicAuth": false,
            "basicAuthUser": "",
            "basicAuthPassword": "",
            "withCredentials": false,
            "isDefault": false,
            "jsonData": {
              "database": "{{ dbname }}",
              "connMaxLifetime": 3600,
              "maxIdleConns": 1,
              "maxOpenConns": 8,
              "postgresVersion": {{ version }},
              "sslmode": "require",
              "tlsAuth": false,
              "tlsAuthWithCACert": false
            },
            "secureJsonData":{
              "password": "{{ db_password }}"
            }
          }
        mode: 0600
      vars:
        ds_name: "{{ pg_cluster }}-{{ pg_seq }}.{{ database.name }}"
        db_host: "{{ inventory_hostname }}"
        db_port: "{{ pg_port|default(5432) }}"
        db_username: "{{ pg_monitor_username|default('dbuser_monitor') }}"
        db_password: "{{ pg_monitor_password|default('DBUser.Monitor') }}"
        version: "{% if pg_version is defined %}{% if pg_version|int >= 15 %}15{% else %}{{ pg_version }}{% endif %}{% else %}10{% endif %}00"
        dbname: "{{ database.name }}"

    #--------------------------------------------------------------#
    # upsert datasource using grafana datasource API
    #--------------------------------------------------------------#
    - name: load grafana datasource {{ database.name }}
      delegate_to: "{{ admin_ip }}"
      ignore_errors: true
      shell: |
        curl -X DELETE "{{ endpoint }}/api/datasources/name/{{ ds_name }}" -u "{{ grafana_user }}:{{ grafana_pass }}"  -H 'Content-Type: application/json'
        curl -X POST   "{{ endpoint }}/api/datasources/" -u "{{ grafana_user }}:{{ grafana_pass }}" -H 'Content-Type: application/json' -d @/etc/pigsty/datasources/{{ ds_name }}.json
      args: { executable: /bin/bash }
      vars:
        ds_name: "{{ pg_cluster }}-{{ pg_seq }}.{{ database.name }}"
        endpoint: "{{ 'http://' +  infra_portal.grafana.endpoint|default('${admin_ip}:3000')|replace('${admin_ip}', admin_ip) }}"
        grafana_user: "{{ grafana_admin_username|default('admin') }}"
        grafana_pass: "{{ grafana_admin_password|default('pigsty') }}"

...