# node log collector

sources:
  syslog_raw:
    type: journald
    current_boot_only: false
    since_now: false

transforms:
  syslog_logs:
    type: remap
    inputs: [syslog_raw]
    source: |
      unit = replace(string(._SYSTEMD_UNIT) ?? "", ".service", "")
      . = {
        "_time": format_timestamp!(.timestamp, "%Y-%m-%dT%H:%M:%S%.fZ"),
        "message": .message,
        "app": .SYSLOG_IDENTIFIER || ._COMM || "unknown",
        "unit": unit,
        "pid": to_string(._PID) ?? "",
        "priority": to_string(.PRIORITY) ?? "",
        "ip": "{{ inventory_hostname }}",
        "ins": "{{ nodename }}",
        "cls": "{{ node_cluster }}",
        "job": "syslog"
      }
